.settings-form{
    display: flex !important;;
    // flex-direction: column !important;;
    // align-items: flex-start !important;
    // display: flex;
    align-items: baseline !important;
}
.settings-container{
    max-width: 1000px !important;
    padding: 10px 160px;

}