.issue-card{
    max-width: 300px;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-bottom:10px
}
.issue-card--actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}